<div class="row">
    <div class="col">
        <input type="text" #termino (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista....">
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas" ></app-tarjetas>
<!-- <div *ngFor="let a of artistas" class="card">
    <img [src]="a.images | noimage" class="card-img-top" alt="card image cap">
    <div class="card-body">
        <h5 class="card-title">
            {{a.name}}
        </h5>
    </div>
</div> -->